@import url('https://fonts.googleapis.com/css2? family= Cormorant+Garamond & family= Great+Vibes & family= Special+Elite & display=swap');

body {
    background-color: #f1e1cf;
    
}

main#container {
    font-family: 'Special Elite', cursive;
}

h1.titulo {
    font-family: 'Special Elite', cursive;
    color: #a41623

}

p.frase {
    font-family: 'Cormorant Garamond', serif;

}

p.autor {
    font-family: 'Great Vibes', cursiva;
    color: #625623e1
}


